$theme_color_0: #00FCE2;
$theme_color_1: #703cff;
$theme_color_2: #ca00fc;
$theme_color_3: #FD7FE8;
$theme_color_4: #FFB0B0;
$theme_color_5: #00ffff;
$theme_color_6: #006eff;
$theme_color_7: #6f00ff;
$theme_color_8: #e100ff;
$theme_color_9: #ff0000;
$theme_color_10: #ffff00;
$theme_color_11: #33ff00;

$colors: (
  1: #00FCE2,
  2: #703cff,
  3: #ca00fc,
  4: #FD7FE8,
  5: #FFB0B0,
  6: #00ffff
);