$rainbow_color_0: #00FCE2;
$rainbow_color_1: #703cff;
$rainbow_color_2: #ca00fc;
$rainbow_color_3: #FD7FE8;
$rainbow_color_4: #FFB0B0;
$rainbow_color_5: #00ffff;
$rainbow_color_6: #006eff;
$rainbow_color_7: #6f00ff;
$rainbow_color_8: #e100ff;
$rainbow_color_9: #ff0000;
$rainbow_color_10: #ffff00;
$rainbow_color_11: #33ff00;

$colors: (
  1: #00FCE2,
  2: #703cff,
  3: #ca00fc,
  4: #FD7FE8,
  5: #FFB0B0,
  6: #00ffff
);