@import 'nav';
@import 'colors';
@import 'footer';

* {
  box-sizing: border-box;
}

*::selection {
  background: #ff0000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Bellota', 'Helvetica', sans-serif;
  background-attachment: fixed;
  background-size: cover;
}

html {
  --scrollbarBG: #FFB0B0;
  --thumbBG: rgba(0,0,0,.5);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

article {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 auto;
  color: #333333;
  line-height: 1.4;
}

main {
  min-height: calc(100vh - 432px);
}

.wrapper-responsive-mb {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

 h2, h3 {
  display: inline-flex;
  font-size: 2.7rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  line-height: 1;
  position: relative;
  color: #ff5e00;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 100%;
    top: 0;
    left: -29px;
    background: #ff6600;
    border-left: 8px solid #ffbb00;
  }
}

h4 {
  margin: 0;
}

@media (min-width: 451px) {

  .wrapper-responsive-mb {
    width: 89%;
  }

}

@media (min-width: 591px) {

  main {
    min-height: calc(100vh - 421px);
  }

  .wrapper-responsive-mb {
    width: 75%;
  }

}

@media (min-width: 781px) {

  main {
    min-height: calc(100vh - 448px);
  }

  .wrapper-responsive-mb {
    width: 80%;
  }
  
}

@media (min-width: 920px) {

  main {
    min-height: calc(100vh - 461px);
  }
  
}

@media (min-width: 1199px) {

  main {
    min-height: calc(100vh - 491px);
  }
  
}

@media (min-width: 1365px) {

  main {
    min-height: calc(100vh - 547px);
  }

  .wrapper-responsive-mb {
    width: 75%;
  }

  
}