@import 'colors';

#main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-container {
  position: relative;
  display: flex;
  height: 80px;
  max-height: 10.3vh;
  justify-content: center;
}

.main-nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60vh;
  transform: translateX(-100vw);
  opacity: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  color: white;
  margin: 0;
  height: 90%;
  justify-content: space-evenly;
  text-align: center;
}

.nav-list a {
  display: block;
  padding: 6px 0;
}

.nav-container, .nav-btn-hamburger, .custom-logo-link, .custom-logo {
  transition: inherit;
}

.custom-logo-link {
  height: 100%;
  margin-top: 10px;
}

.custom-logo {
  height: 100%;
  width: auto;
  justify-self: center;
  align-self: center;
}

.nav-btn-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  background: none;
  padding: 10px;
  margin-top: 10px;
  svg {
    max-width: 15vw;
  }
}

.color-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(calc(-100vh + 6px));
  z-index: 50;
}

.color-bar-line {
  flex: 1;
}

#color-bar-line-0 {
  background-color: $theme_color_0;
}

#color-bar-line-1 {
  background-color: $theme_color_1;
}

#color-bar-line-2 {
  background-color: $theme_color_2;
}

#color-bar-line-3 {
  background-color: $theme_color_3;
}

#color-bar-line-4 {
  background-color: $theme_color_4;
}








@media(min-width: 781px) {

  #main-header {
    margin-top: 10px;
    height: 200px;
  }

  .nav-container {
    height: initial;
    max-height: initial;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .main-nav {
    transform: none;
    opacity: 1;
    position: static;
    height: initial;
    width: 100%;
    max-width: 800px;
  }

  .nav-list {
    flex: 1;
    font-size: 1.05rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-list li {
    display: flex;
    width: calc(95% / 6);
    max-width: 118px;
    justify-content: center;
  }

  .nav-list a {
    color: black;
    padding: .5em .4em;
    align-self: center;
  }

  .nav-list li {
    position: relative;
    border-radius: .8em;
    background-clip: padding-box !important; 
    border: solid 2px transparent;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0.7em;
      opacity: 0;
      z-index: -1;
    }
    &:hover a {
      color: white;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  .nav-list a, .nav-list li::after {
    transition: .4s ease-out;
  }

  .nav-btn-hamburger {
    display: none;
  }

  .custom-logo-link {
    margin-top: 0;
    height: 70px;
    margin: 0 0 .35em;
  }

  .nav-list li:nth-child(1), .nav-list li:nth-child(6) {
    border-color: map-get($colors, 1);
    &::after {
      background: linear-gradient(45deg, $theme_color_5, $theme_color_6);
    }
  }

  .nav-list li:nth-child(2) {
    border-color: map-get($colors, 2);
    &::after {
      background: linear-gradient(45deg, $theme_color_6, $theme_color_7);
    }
  }

  .nav-list li:nth-child(3) {
    border-color: map-get($colors, 3);
    &::after {
      background: linear-gradient(45deg, $theme_color_7, $theme_color_8);
    }
  }

  .nav-list li:nth-child(4) {
    border-color: map-get($colors, 4);
    &::after {
      background: linear-gradient(45deg, $theme_color_8, $theme_color_9);
    }
  }

  .nav-list li:nth-child(5) {
    border-color: map-get($colors, 5);
    &::after {
      background: linear-gradient(45deg, $theme_color_9, $theme_color_10);
    }
  }

}






@media(min-width: 905px) {

  #main-header {
    height: 140px;
  }

  .nav-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-logo-link {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main-nav {
    flex: 1;
    margin: 0 auto;
  }

}






@media(min-width: 1064px) {

  #main-header {
    height: 70px;
  }

  .custom-logo-link {
    width: initial;
    align-self: center;
  }

  .nav-container {
    flex-wrap: nowrap;
  }

  .main-nav {
    margin: 0;
  }

  .nav-list {
    justify-content: initial;
  }

  .nav-list li {
    margin-left: 1.5em;
  }

  .nav-list a {
    padding: .4em .2em;
  }

}






@media(min-width: 1228px) {

  .nav-container {
    width: 85%;
  }

  .nav-list {
    padding-left: 25px;
  }

}

@media(min-width: 1518px) {

  .nav-container {
    width: 80%;
  }

}
