$vertical_articles_spacing: (
    small: 4rem,
    large: 6rem
);

$vertical_article_children_spacing: (
    small: 4rem,
    large: 5rem
);

$h2_h3_font_size: (
    small: 9.5vw,
    large: 3.05rem
);

$footer_vertical_space: (
    small: 7rem,
    large: 14rem
);