#main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav-container {
  position: relative;
  display: flex;
  height: 80px;
  max-height: 10.3vh;
  justify-content: center;
}

.main-nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 60vh;
  transform: translateX(-100vw);
  opacity: 0;
}

.nav-list {
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  color: white;
  margin: 0;
  height: 90%;
  justify-content: space-evenly;
  text-align: center;
}

.nav-list a {
  display: block;
  padding: 6px 0;
}

.nav-container, .nav-btn-hamburger, .custom-logo-link, .custom-logo {
  transition: inherit;
}

.custom-logo-link {
  height: 100%;
  margin-top: 10px;
}

.custom-logo {
  height: 100%;
  width: auto;
  justify-self: center;
  align-self: center;
}

.nav-btn-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none;
  background: none;
  padding: 10px;
  margin-top: 10px;
}
.nav-btn-hamburger svg {
  max-width: 15vw;
}

.color-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(calc(-100vh + 6px));
  z-index: 50;
}

.color-bar-line {
  flex: 1;
}

#color-bar-line-0 {
  background-color: #00FCE2;
}

#color-bar-line-1 {
  background-color: #703cff;
}

#color-bar-line-2 {
  background-color: #ca00fc;
}

#color-bar-line-3 {
  background-color: #FD7FE8;
}

#color-bar-line-4 {
  background-color: #FFB0B0;
}

@media (min-width: 781px) {
  #main-header {
    margin-top: 10px;
    height: 200px;
  }

  .nav-container {
    height: 100%;
    width: 95%;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .main-nav {
    transform: none;
    opacity: 1;
    position: static;
    height: initial;
    width: 100%;
    max-width: 800px;
  }

  .nav-list {
    flex: 1;
    font-size: 1.05rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-list li {
    display: flex;
    width: calc(95% / 6);
    max-width: 118px;
    justify-content: center;
  }

  .nav-list a {
    color: black;
    padding: 0.5em 0.4em;
    align-self: center;
  }

  .nav-list li {
    position: relative;
    border-radius: 0.8em;
    background-clip: padding-box !important;
    border: solid 2px transparent;
    cursor: pointer;
  }
  .nav-list li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.7em;
    opacity: 0;
    z-index: -1;
  }
  .nav-list li:hover a {
    color: white;
  }
  .nav-list li:hover::after {
    opacity: 1;
  }

  .nav-list a, .nav-list li::after {
    transition: 0.4s ease-out;
  }

  .nav-btn-hamburger {
    display: none;
  }

  .custom-logo-link {
    margin-top: 0;
    height: 70px;
    margin: 10px 0;
  }

  .nav-list li:nth-child(1), .nav-list li:nth-child(6) {
    border-color: #00FCE2;
  }
  .nav-list li:nth-child(1)::after, .nav-list li:nth-child(6)::after {
    background: linear-gradient(45deg, #00ffff, #006eff);
  }

  .nav-list li:nth-child(2) {
    border-color: #703cff;
  }
  .nav-list li:nth-child(2)::after {
    background: linear-gradient(45deg, #006eff, #6f00ff);
  }

  .nav-list li:nth-child(3) {
    border-color: #ca00fc;
  }
  .nav-list li:nth-child(3)::after {
    background: linear-gradient(45deg, #6f00ff, #e100ff);
  }

  .nav-list li:nth-child(4) {
    border-color: #FD7FE8;
  }
  .nav-list li:nth-child(4)::after {
    background: linear-gradient(45deg, #e100ff, #ff0000);
  }

  .nav-list li:nth-child(5) {
    border-color: #FFB0B0;
  }
  .nav-list li:nth-child(5)::after {
    background: linear-gradient(45deg, #ff0000, #ffff00);
  }
}
@media (min-width: 905px) {
  #main-header {
    height: 140px;
  }

  .nav-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-logo-link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px 0;
  }

  .main-nav {
    flex: 1;
    margin: 0 auto;
  }
}
@media (min-width: 1064px) {
  #main-header {
    height: 70px;
  }

  .custom-logo-link {
    width: initial;
    align-self: center;
  }

  .nav-container {
    flex-wrap: nowrap;
  }

  .main-nav {
    margin: 0;
  }

  .nav-list {
    max-width: 868px;
  }

  .nav-list a {
    padding: 0.4em 0.2em;
  }
}
@media (min-width: 1228px) {
  .nav-container {
    width: 85%;
  }

  .nav-list {
    padding-left: 25px;
  }
}
@media (min-width: 1518px) {
  .nav-container {
    width: 80%;
  }
}
.main-footer {
  color: #ffffff;
}
.main-footer::before {
  content: "";
  display: block;
  background: white;
  height: 150px;
  position: relative;
}

.footer-top-wrapper {
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.7);
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.footer-nav ul {
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  color: #FF5924;
  height: 2em;
  font-size: 0.8em;
}
.footer-nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav ul li a {
  transition: 0.4s ease;
}
.footer-nav ul li a:hover {
  color: #eeeeee;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-info h4 {
  text-align: center;
  font-size: 1.4em;
  margin: 0.8em 0;
}

.footer-info-contact {
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.footer-info-contact p {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #dfdfdf;
}
.footer-info-contact p + p {
  margin-left: 20px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  background-color: #FF5924;
}

.copyright {
  font-size: 1em;
}

.creator {
  font-size: 0.8em;
}

@media (min-width: 374px) {
  .footer-info-contact {
    padding-left: initial;
  }

  .footer-nav ul {
    font-size: 1em;
  }

  .footer-bottom {
    font-size: 1.2em;
  }
}
@media (min-width: 591px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-nav ul {
    height: 100%;
    flex-direction: column;
    margin: 0;
  }

  .footer-nav ul li {
    justify-content: flex-end;
    line-height: 1.8;
  }

  .footer-top {
    font-size: 19px;
  }

  .footer-top-wrapper {
    padding: 2em 0;
  }

  .footer-info {
    justify-content: space-around;
  }

  .footer-info h4 {
    margin: 0;
  }
}
@media (min-width: 781px) {
  .footer-top {
    font-size: 21px;
  }

  .footer-top-wrapper {
    padding: 2.5em 0;
  }
}
@media (min-width: 920px) {
  .footer-top {
    font-size: 22px;
  }

  .footer-top-wrapper {
    padding: 2.7em 0;
  }
}
@media (min-width: 1199px) {
  .footer-top {
    font-size: 24px;
  }

  .footer-top-wrapper {
    padding: 3.2em 0;
  }
}
@media (min-width: 1365px) {
  .footer-top {
    font-size: 26px;
  }

  .footer-top-wrapper {
    padding: 4.5em 0;
  }
}
* {
  box-sizing: border-box;
}

*::selection {
  background: #ff0000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Bellota", "Helvetica", sans-serif;
  background-attachment: fixed;
  background-size: cover;
}

html {
  --scrollbarBG: #FFB0B0;
  --thumbBG: rgba(0,0,0,.5);
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

article {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 auto;
  color: #333333;
  line-height: 1.4;
}

main {
  min-height: calc(100vh - 432px);
}

ol {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

.wrapper-responsive-mb {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

h2, h3 {
  display: inline-flex;
  font-size: 2.7rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  line-height: 1;
  position: relative;
  color: #ff5e00;
  text-align: center;
}
h2::before, h3::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 100%;
  top: 0;
  left: -29px;
  background: #ff6600;
  border-left: 8px solid #ffbb00;
}

h4 {
  margin: 0;
}

@media (min-width: 451px) {
  .wrapper-responsive-mb {
    width: 89%;
  }
}
@media (min-width: 591px) {
  main {
    min-height: calc(100vh - 421px);
  }

  .wrapper-responsive-mb {
    width: 75%;
  }
}
@media (min-width: 781px) {
  main {
    min-height: calc(100vh - 448px);
  }

  .wrapper-responsive-mb {
    width: 80%;
  }
}
@media (min-width: 920px) {
  main {
    min-height: calc(100vh - 461px);
  }
}
@media (min-width: 1199px) {
  main {
    min-height: calc(100vh - 491px);
  }
}
@media (min-width: 1365px) {
  main {
    min-height: calc(100vh - 547px);
  }

  .wrapper-responsive-mb {
    width: 75%;
  }
}